################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularWithWebAPI/APM/.vs
/AngularWithWebAPI/APM/APM.Client/Bin
/AngularWithWebAPI/APM/APM.WebAPI/bin
/AngularWithWebAPI/APM/packages
