<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Sample>
  <ExampleOid>01c49b79-fa4f-45c7-9ec6-ad80bda74dd4</ExampleOid>
  <ExampleID>E1647</ExampleID>
  <ExampleUrl>http://www.devexpress.com/example=E1647</ExampleUrl>
  <ProductName>DXCharts for WPF</ProductName>
  <Technology>DXperience</Technology>
  <Name>How to create a 2D Line chart</Name>
  <Description>The following example demonstrates how to create a 2D Line chart.</Description>
  <RequiredExampleRunnerVersion>3.0.19.0</RequiredExampleRunnerVersion>
  <SupportedVersions>
    <Version>10.2.3</Version>
    <Version>10.2.4</Version>
    <Version>10.2.5</Version>
    <Version>10.2.6</Version>
    <Version>10.2.7</Version>
    <Version>10.2.8</Version>
    <Version>10.2.9</Version>
    <Version>10.2.10</Version>
    <Version>10.2.11</Version>
    <Version>11.1.2</Version>
    <Version>11.1.3</Version>
    <Version>11.1.4</Version>
    <Version>11.1.5</Version>
    <Version>11.1.6</Version>
    <Version>11.1.7</Version>
    <Version>11.1.8</Version>
    <Version>11.1.9</Version>
    <Version>11.1.10</Version>
    <Version>11.1.11</Version>
    <Version>11.1.12</Version>
    <Version>11.2.2</Version>
    <Version>11.2.3</Version>
    <Version>11.2.4</Version>
    <Version>11.2.5</Version>
    <Version>11.2.6</Version>
    <Version>11.2.7</Version>
    <Version>11.2.8</Version>
    <Version>11.2.10</Version>
    <Version>11.2.11</Version>
    <Version>11.2.12</Version>
    <Version>11.2.13</Version>
    <Version>11.2.14</Version>
    <Version>12.1.2</Version>
    <Version>12.1.3</Version>
    <Version>12.1.4</Version>
    <Version>12.1.5</Version>
    <Version>12.1.6</Version>
    <Version>12.1.7</Version>
    <Version>12.1.8</Version>
    <Version>12.1.9</Version>
    <Version>12.1.10</Version>
    <Version>12.1.11</Version>
    <Version>12.1.12</Version>
    <Version>12.2.2</Version>
    <Version>12.2.3</Version>
    <Version>12.2.4</Version>
    <Version>12.2.5</Version>
    <Version>12.2.6</Version>
    <Version>12.2.7</Version>
    <Version>12.2.8</Version>
    <Version>12.2.9</Version>
    <Version>12.2.10</Version>
    <Version>12.2.11</Version>
    <Version>12.2.12</Version>
    <Version>12.2.13</Version>
    <Version>12.2.14</Version>
    <Version>12.2.15</Version>
    <Version>12.2.16</Version>
    <Version>12.2.17</Version>
    <Version>12.2.18</Version>
    <Version>13.1.2</Version>
    <Version>13.1.4</Version>
    <Version>13.1.5</Version>
    <Version>13.1.6</Version>
    <Version>13.1.7</Version>
    <Version>13.1.8</Version>
    <Version>13.1.9</Version>
    <Version>13.1.10</Version>
    <Version>13.1.11</Version>
    <Version>13.1.12</Version>
    <Version>13.2.1</Version>
    <Version>13.2.2</Version>
    <Version>13.2.3</Version>
    <Version>13.2.4</Version>
    <Version>13.2.5</Version>
    <Version>13.2.6</Version>
    <Version>13.2.7</Version>
    <Version>13.2.8</Version>
    <Version>13.2.9</Version>
    <Version>13.2.10</Version>
    <Version>13.2.11</Version>
    <Version>13.2.12</Version>
    <Version>13.2.13</Version>
    <Version>14.1.3</Version>
    <Version>14.1.4</Version>
    <Version>14.1.5</Version>
    <Version>14.1.6</Version>
    <Version>14.1.7</Version>
    <Version>14.1.8</Version>
    <Version>14.1.9</Version>
    <Version>14.1.10</Version>
    <Version>14.1.11</Version>
    <Version>14.1.12</Version>
    <Version>14.1.13</Version>
    <Version>14.2.2</Version>
    <Version>14.2.3</Version>
    <Version>14.2.4</Version>
    <Version>14.2.5</Version>
    <Version>14.2.6</Version>
    <Version>14.2.7</Version>
    <Version>14.2.8</Version>
    <Version>14.2.9</Version>
    <Version>14.2.10</Version>
    <Version>14.2.11</Version>
    <Version>14.2.12</Version>
    <Version>14.2.13</Version>
    <Version>14.2.14</Version>
    <Version>14.2.15</Version>
    <Version>15.1.2</Version>
    <Version>15.1.3</Version>
    <Version>15.1.4</Version>
    <Version>15.1.5</Version>
    <Version>15.1.6</Version>
    <Version>15.1.7</Version>
    <Version>15.1.8</Version>
    <Version>15.1.9</Version>
    <Version>15.1.10</Version>
    <Version>15.1.11</Version>
    <Version>15.1.12</Version>
    <Version>15.1.13</Version>
    <Version>15.2.2</Version>
    <Version>15.2.3</Version>
    <Version>15.2.4</Version>
    <Version>15.2.5</Version>
    <Version>15.2.6</Version>
    <Version>15.2.7</Version>
    <Version>15.2.8</Version>
    <Version>15.2.9</Version>
    <Version>15.2.10</Version>
    <Version>15.2.11</Version>
    <Version>15.2.12</Version>
    <Version>15.2.13</Version>
    <Version>15.2.14</Version>
    <Version>15.2.15</Version>
    <Version>15.2.16</Version>
    <Version>15.2.17</Version>
    <Version>16.1.2</Version>
    <Version>16.1.3</Version>
    <Version>16.1.4</Version>
    <Version>16.1.5</Version>
    <Version>16.1.6</Version>
    <Version>16.1.7</Version>
    <Version>16.1.8</Version>
    <Version>16.1.9</Version>
    <Version>16.1.10</Version>
    <Version>16.1.11</Version>
    <Version>16.1.12</Version>
    <Version>16.1.13</Version>
    <Version>16.1.14</Version>
    <Version>16.2.2</Version>
    <Version>16.2.3</Version>
    <Version>16.2.4</Version>
    <Version>16.2.5</Version>
    <Version>16.2.6</Version>
    <Version>16.2.7</Version>
    <Version>16.2.8</Version>
    <Version>16.2.9</Version>
    <Version>16.2.10</Version>
    <Version>16.2.11</Version>
    <Version>17.1.2</Version>
    <Version>17.1.3</Version>
    <Version>17.1.4</Version>
    <Version>17.1.5</Version>
    <Version>17.1.6</Version>
    <Version>17.1.7</Version>
    <Version>17.1.8</Version>
    <Version>17.2.1</Version>
    <Version>17.2.2</Version>
    <Version>17.2.3</Version>
  </SupportedVersions>
  <SupportedIDEs>
    <IDE>Microsoft Visual Studio 2010</IDE>
    <IDE>Microsoft Visual Studio 2012</IDE>
    <IDE>Microsoft Visual Studio 2013</IDE>
    <IDE>Microsoft Visual Studio 2015</IDE>
    <IDE>Microsoft Visual Studio 2017</IDE>
  </SupportedIDEs>
  <KeepNUnitTests>False</KeepNUnitTests>
</Sample>